<div>
    <span>
        <button (click)="casa()" class="btn btn-primary aiuti" title="Chiama a casa">
            <i class="bi bi-telephone-fill"></i>
        </button>
    </span>
    <span>
        <button (click)="pubblico()" class="btn btn-primary aiuti" title="Aiuto del Pubblico">
            <i class="bi bi-people-fill"></i>
        </button> 
    </span>
    <span>
        <button (click)="cinquanta()" class="btn btn-primary aiuti" title="Cinquanta/Cinquanta">
            <i class="bi bi-bullseye"></i>
        </button>
    </span>
</div>